@font-face {
    font-family: matrix;
    src: url("../../resources/matrix-reg.ttf");
}
.root {
    -fx-background-image: url("../../resources/matrix2.gif");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-base: #003b00;
    -fx-accent: #003b00 ;
    -fx-default-button: #003b00 ;
    -fx-focus-color: #003b00;
    -fx-faint-focus-color: #039ed322;
    -fx-focused-text-base-color : ladder(
            -fx-selection-bar,
            -fx-light-text-color 45%,
            -fx-dark-text-color 46%,
            -fx-dark-text-color 59%,
            -fx-mid-text-color 60%
    );
    -fx-focused-mark-color : -fx-focused-text-base-color ;


    -fx-font-family: matrix;
}


.table {
    -fx-padding: 10px;
    -fx-font-size: 30px;
    -fx-spacing: 10px;
    -fx-column-halignment: 30px;


}

.border {
    -fx-padding: 20px;
}

.main {
    -fx-padding: 20px;
    -fx-spacing: 20px;
    -fx-alignment: center;
}
#main-header-title {
    -fx-font-size: 50px;
    -fx-font-family: matrix;
}

#main-header-student-id {
    -fx-font-size: 40px;
}

.button {
    -fx-font-size: 40px;
}

.text-field {
    -fx-padding: 15px;
    -fx-font-size: 30px;
}
